<div class="card-body">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div class="profile-pic">
                <img src="../../assets/profile/sample.png" alt="..." width="30" height="30">
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
            <small class="profile-name">{{ fullName  | titlecase }}</small><br>
            <span class="profile-level">{{ authLevel | titlecase }}</span>
        </div>
    </div>
    <hr class="profile-separator">
</div>
<div class="list-group">
    <p><a class="menu-item" routerLinkActive='active' routerLink='/dashboard'>
    <img src="../../assets/dashboard/dashboard_24_px.png"
    class="menu-item-image">&emsp;Dashboard</a></p>
    <p><a class="menu-item" routerLinkActive='active' routerLink='/reports'>
        <img src="../../assets/dashboard/network_check_24_px@2x.png"
        class="menu-item-image">&emsp;Reports</a></p>
    <p><a class="menu-item" routerLinkActive='active' routerLink='/responses'>
        <img src="../../assets/dashboard/call_24_px_1@3x.png"
        class="menu-item-image">&emsp;Responses</a></p>
    <p class="menu-item-divider"></p>
    <p><a class="menu-item" (click)="logout()">
    <img src="../../assets/dashboard/login_24_px@3x.png"
        class="menu-item-image">&emsp;Logout</a>
    </p>
</div>