.search-controls{
  padding:3%;
}

.stat-panes{
  margin:1% 0% 2% 0%;
}

.nps-score{
  width: 100%;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #43b02a;
}

.yes-resolution{
  width: 100%;
  height: 15px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #43b02a;
}

.no-resolution{
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #e4002b;
  margin-bottom: 0%;
}

.nps-percent{
  width: 100%;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.progress{
  height: 5px;
}

.tnps-trend-container{
  width: 100%;
  margin: 2% 0% 0% 0%;
  padding: 3% 3% 3% 3%;
}

.export-report{
  width: 100%;
  height: 15px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #007bff;
}

.export-report > p{
  float: right;
  font-weight: lighter;
  margin: 3.5% 1.5% 0% 0% !important; 
}

.dashboard-dot{
  width: 5px !important;
  height: 5px !important;
  margin-right:1.5% !important;
  display: inline-block !important;
  border-radius: 50% !important;
}

.resolution-dot{
  background-color: #06d186 !important;
}

.detractors-dot{
  background-color: #e3002a !important;
}

.custom-pagination /deep/ .ngx-pagination .current {
    background: #43b02a !important;
    border-radius: 50% !important;
    margin: 10% 0% 10% 0% !important;
}

.verbatim-wrap{
    width: 25% !important;
    word-wrap: normal;
}

